<template>
  <footer>
    <b-container>
      <b-row>
        <b-col cols="12" md="6" class="content-left">
          <span class="icon">
            <img src="/images/mail.png">
          </span>
          <span>
            <a href="mailto:service@jfnet.de">service@jfnet.de</a>
          </span>
          <span class="icon phone">
            <img src="/images/phone.png">
          </span>
          <span>+49 9321 92 94 0</span>
        </b-col>
        <b-col cols="12" md="6" class="content-right">
          <span>Copyright © 2018 jfnetwork All rights reserved.</span>
        </b-col>
      </b-row>
    </b-container>
  </footer>
</template>

<style scoped>
footer {
  padding: 8px 0;
}
footer .content-right {
  text-align: left;
}
footer, footer a,
footer a:hover {
  background-color: #000;
  color: #848488;
}
footer a:hover {
  text-decoration: underline;
}
footer span {
  margin-right: 6px;
}
footer .icon img {
  max-height: 30px;
}
footer .icon.phone {
  margin-left: 25px;
}
@media (min-width: 768px) {
  footer .content-right {
    text-align: right;
  }
}
@media screen and (max-width: 767px) {
  footer .icon img {
    max-height: 20px;
  }
}
</style>