<template>
  <ul class="ml-auto language-toggle">
    <li
      :class="{ 'active': lang_code == 'en' }"
    >
      <a
        :href="switchLocalePath('en')"
      >
        English
      </a>
    </li>
    <li
      :class="{ 'active': lang_code == 'de' }"
    >
      <a
        :href="switchLocalePath('de')"
      >
        German
      </a>
    </li>
  </ul>
</template>

<script>
export default {
  data () {
    return {
      lang_code: null
    }
  },
  mounted () {
    this.lang_code = this.$i18n.locale
  }
}
</script>

<style scoped>
.language-toggle {
  border-radius: 30px;
  background-color: #ccc;
  margin-top: 22px;
  overflow: hidden;
  contain: content;
  list-style: none;
  padding: 0;
}
.language-toggle li {
  float: left;
}
.language-toggle a {
  color: #1c1c1b;
  line-height: 33px;
  font-size: 11px;
  width: 68px;
  text-align: center;
  padding: 0 10px;
  text-transform: uppercase;
  padding: 0 10px;
}
.language-toggle .active {
  border-radius: 30px;
  background-color: #f08803;
}
.language-toggle .active a {
  color: #fff;
}
@media (max-width: 991px) {
  .language-toggle {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
</style>