<template>
  <b-navbar-brand class="home-link" href="/">
    <img class="logo" src="/images/jflogo.svg" />
  </b-navbar-brand>
</template>

<style scoped>
.home-link {
  display: block;
  width: 200px;
  padding: 0 20px 0 0;
  margin-right: 0;
}
.logo {
  width: auto;
  max-width: 100%;
}
@media screen and (max-width: 479px) {
  .home-link {
    width: 120px;
    padding: 0;
  }
}
</style>