<template>
  <header>
    <b-container>
      <b-navbar toggleable="lg">
        <Logo/>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav
            v-for="(item, index) in navbarList"
            :key="index"
          >
            <b-nav-item
              :href="localePath(item.link)"
              :class="{
                'navbar-nav-with-sub': item.sub && item.sub.length > 0,
                'active': path.includes(item.link) || findSubActive(item.sub)
              }"
            >
              {{ $t(`${item.text}`) }}
            </b-nav-item>
            <div
              v-if="item.sub && item.sub.length > 0"
              class="nav-sub-item"
            >
              <div
                v-for="(subItem, subIndex) in item.sub"
                :key="subIndex"
                class="item"
              >
                <a
                  :href="localePath(subItem.link)"
                  :class="{ 'active': path.includes(subItem.link) }"
                >
                  {{ $t(`${subItem.text}`) }}
                </a>
              </div>
            </div>
          </b-navbar-nav>
        </b-collapse>

        <LanguageToggle />

        <b-navbar-toggle target="sidebar"></b-navbar-toggle>

        <b-sidebar
          id="sidebar"
          class="sidebar"
          right
          shadow
          no-header
          backdrop
        >
          <div class="p-3">
            <nav class="mb-3">
              <b-nav
                v-for="(item, index) in navbarList"
                :key="index"
                vertical
              >
                <b-nav-item
                  :href="localePath(item.link)"
                >
                  {{ $t(`${item.text}`) }}
                </b-nav-item>
                <div
                  v-if="item.sub && item.sub.length > 0"
                  class="nav-sub-item"
                >
                  
                  <div
                    v-for="(subItem, subIndex) in item.sub"
                    :key="subIndex"
                    class="item"
                  >
                    <a
                      :href="localePath(subItem.link)"
                    >
                      {{ $t(`${subItem.text}`) }}
                    </a>
                  </div>
                </div>
              </b-nav>
            </nav>
          </div>
        </b-sidebar>
      </b-navbar>
    </b-container>
  </header>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      path: '',
      navbarList: [
        { link: 'aboutus', text: 'navItem1', title: 'pageTitle2' },
        { link: 'news', text: 'navItem2', title: 'pageTitle3' },
        { link: 'whatwedo', text: 'navItem3', title: 'pageTitle4',
          sub: [{ link: 'references', text: 'navItem3Sub', title: 'pageTitle5' }]
        },
        { link: 'jobs', text: 'navItem4', title: 'pageTitle8' },
        { link: 'contact', text: 'navItem5', title: 'pageTitle6' },
        { link: 'privacystatement', text: 'navItem6', title: 'pageTitle7' }
      ]
    }
  },
  computed: {
    ...mapGetters(['getPageTitle'])
  },
  mounted () {
    this.path = this.$route.path
  },
  methods: {
    findSubActive (subList = null) {
      if (!subList)
        return false
      else {
        let result = subList.findIndex(item => this.path.includes(item.link))
        return (result >= 0)
      }
    }
  }
}
</script>

<style scoped>
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 1px 2px #ccc;
  padding: 6px 0 10px;
  transition: all .3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  z-index: 2;
}
header .navbar {
  padding: 0;
}
.navbar-nav {
  flex-grow: 1;
  z-index: 1;
}
.navbar-light .navbar-nav .nav-link {
  color: #2b2b2b;
  font-size: 20px;
  letter-spacing: 1px;
}
.navbar-light .navbar-nav .nav-link:hover,
.nav-item.active .nav-link,
.navbar-nav .nav-sub-item .item:hover a,
.navbar-nav .nav-sub-item .item a.active {
  color: #f08803;
}
.navbar-light .navbar-toggler {
  border: none;
  margin: 0;
  padding: 0 0 0 14px;
}
.navbar-toggler-icon {
  width: 2.5em;
  height: 2.5em;
}
.navbar-item .nav-item {
  z-index: 0;
}
.b-sidebar .nav-item .nav-link {
  padding: .5rem 1rem .5rem 0;
}
.navbar-nav {
  position: relative;
  display: block;
}
.navbar-nav .nav-item a,
.navbar-nav .nav-sub-item a,
.nav .nav-item a,
.nav .nav-sub-item a {
  font-family: 'Conv_rakesly rg';
  font-size: 20px;
  transition: ease-in-out all 0.6s;
  -webkit-transition: ease-in-out all 0.6s;
  -moz-transition: -moz-transition;
  -ms-transition: -ms-transition;
  -o-transition: ease-in-out all 0.6s;
}
.nav .nav-item a,
.nav .nav-sub-item a {
  color: #fff;
}
.navbar-nav .nav-sub-item {
  position: absolute;
  left: 0;
  display: none;
  background-color: #fff;
  box-shadow: 0px -5px 14px -5px rgb(0 0 0 / 30%);
  z-index: -1;
}
.navbar-nav .nav-sub-item a {
  color: #2b2b2b;
  text-decoration: none;
  padding: 12px 16px;
  display: block;
}
.navbar-nav:hover .navbar-nav-with-sub {
  background-color: #fff;
  box-shadow: 0px -5px 14px -5px rgb(0 0 0 / 30%);
}
.navbar-nav:hover .nav-sub-item {
  display: block;
}
.nav .nav-sub-item {
  margin-bottom: 10px;
}
.nav .nav-sub-item a {
  padding-left: 16px;
}
.nav .nav-item:hover a,
.nav .nav-sub-item .item:hover a {
  color: #000;
}
@media (min-width: 992px) {
  header {
    padding-top: 10px;
    padding-bottom: 16px;
  }
  .navbar-collapse {
    margin-top: 17px;
    width: calc(100% - 340px);
    text-align: center;
    padding: 0 15px;
  }
}
</style>