<template>
  <div class="title-banner">
    <b-container>
      <h1>{{ $t(title) }}</h1>
    </b-container>
  </div>
</template>

<script>
export default {
  props: {
    title: String
  }
}
</script>

<style scoped>
.title-banner {
  background: url('/images/title-banner.jpg') no-repeat center top;
  background-size: cover;
  padding: 73px 0;
  margin-top: 105px;
}
.title-banner h1 {
  font-family: 'Conv_rakesly lt';
  text-align: center;
  color: #fff;
  font-size: 71px;
}
@media screen and (max-width: 1199px) {
  .title-banner {
    padding: 60px 0;
  }
}
@media screen and (max-width: 991px) {
  .title-banner {
    padding: 50px 0;
    margin-top: 90px;
  }
}
@media screen and (max-width: 767px) {
  .title-banner {
    padding: 40px 0;
  }
}
</style>