@font-face {
  font-family: "Conv_rakesly lt";
  src: url(~assets/fonts/rakesly-lt.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Conv_rakesly rg";
  src: url(~assets/fonts/rakesly-rg.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Conv_rakesly bk";
  src: url(~assets/fonts/rakesly-bk.woff) format("woff");
  font-display: swap;
}
body {
  font-family: 'Raleway',sans-serif;
}
#sidebar {
  background-color: #f08803 !important;
}
.navbar-toggler-icon {
  width: 2em;
  height: 2em;
}
.img-responsive {
  width: auto;
  max-width: 100%;
}
.swiper-container-vertical > .swiper-pagination-bullets {
  right: 26px !important;
}
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 18px auto !important;
}
.swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  border: 2px solid #fff;
  opacity: 1 !important;
  background: transparent !important;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.swiper-pagination-bullet:hover {
  border-color: #f08803 !important;
  background-color: #f08803 !important;
}
.swiper-pagination-bullet-active {
  height: 20px !important;
  width: 20px !important;
  background: #f08803 !important;
  border-color: #f08803 !important;
}
section {
  padding: 50px 10px;
}
.white-bg {
  background-color: #fff;
}
.grey-bg {
  background-color: #f2f2f2;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
ol, ul {
  list-style: none;
  padding: 0;
}
ul.key li {
  padding-left: 30px;
  margin-bottom: 19px;
  background: url('/images/right-arrow.png') no-repeat left top 8px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Conv_rakesly lt';
  font-weight: normal;
}
h1 {
  font-size: 71px;
}
h2 {
  font-size: 40px;
  margin-bottom: 35px;
}
h3 {
  font-size: 34px;
  margin-bottom: 30px;
}
h4 {
  font-size: 28px;
  margin-bottom: 20px;
}
h5 {
  font-size: 18px;
  margin-bottom: 10px;
}
p {
  font-size: 1.2em;
  margin-bottom: 8px;
}
.quote-box {
  border: dashed 1px #cacaca;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 34px 25px 32px;
  text-align: center;
  max-width: 335px;
  width: 100%;
  margin: 0 0 0 auto;
}
.quote-box * {
  font-size: 23px;
}
.dashed-box {
  border: dashed 1px #cacaca;
  border-radius: 5px;
  text-align: center;
  padding: 18px;
}
.head-section {
  padding-bottom: 10px;
}
.img-top {
  margin-top: 0;
}
@media screen and (min-width: 992px) {
  .img-top {
    margin-top: -120px;
  }
}
.main-button {
  font-size: 11px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
  text-transform: uppercase;
  color: #fff;
  background-color: #f08803;
}
.main-button:hover {
  color: #fff;
}