<template>
  <div class="one-page">
    <NavBar/>
    <div class="page-content">
      <nuxt />
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
html, body {
  position: relative;
  height: 100%;
}
.one-page header {
  border: none;
  box-shadow: none;
  background: -moz-linear-gradient(top, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.4) 58%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.4) 58%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.4) 58%,rgba(255,255,255,0) 100%);
}
</style>
