<template>
  <div>
    <NavBar/>
    <TitleBanner
      :title="title"
    />
    <nuxt />
    <Footer/>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: ''
    }
  },
  mounted () {
    this.title = this.$store.state.pageTitle
  }
}
</script>