<template>
  <div class="content">
    <section class="white-bg">
      <b-container>
        <h2 class="text-center">
          {{ $t('aboutusPageHead') }}
        </h2>
        <b-row>
          <b-col sm="8">
            <p>{{ $t('aboutusP1') }}</p>
            <p>{{ $t('aboutusP2') }}</p>
          </b-col>
          <b-col sm="4">
            <div class="quote-box">
              <p>{{ $t('aboutusQuote') }}</p>
              <p><b>{{ $t('aboutusQuoteName') }}</b></p>
            </div>
          </b-col>
        </b-row>
        <h3>{{ $t('aboutusKeyHead') }}</h3>
        <ul class="key">
          <li>
            <p>{{ $t('aboutusKey1') }}</p>
          </li>
          <li>
            <p>{{ $t('aboutusKey2') }}</p>
          </li>
          <li>
            <p>{{ $t('aboutusKey3') }}</p>
          </li>
          <li>
            <p>{{ $t('aboutusKey4') }}</p>
          </li>
          <li>
            <p>{{ $t('aboutusKey5') }}</p>
          </li>
        </ul>
        <p>{{ $t('aboutusKeySummary') }}</p>
      </b-container>
    </section>
    <section class="grey-bg">
      <b-container>
        <h2 class="section-head">
          {{ $t('aboutusPageHead') }}
        </h2>
        <b-row>
          <b-col sm="7">
            <ul class="opportunity-section">
              <li>
                <div class="left-icon">
                  <img src="/images/aboutus/icon1.png" />
                </div>
                <div class="right-content">
                  <h4>{{ $t('aboutusPointHead1') }}</h4>
                  <p>{{ $t('aboutusPointContent1') }}</p>
                </div>
              </li>
              <li>
                <div class="left-icon">
                  <img src="/images/aboutus/icon2.png" />
                </div>
                <div class="right-content">
                  <h4>{{ $t('aboutusPointHead2') }}</h4>
                  <p>{{ $t('aboutusPointContent2') }}</p>
                </div>
              </li>
              <li>
                <div class="left-icon">
                  <img src="/images/aboutus/icon3.png" />
                </div>
                <div class="right-content">
                  <h4>{{ $t('aboutusPointHead3') }}</h4>
                  <p>{{ $t('aboutusPointContent3') }}</p>
                  <p>{{ $t('aboutusPointContent3-2') }}</p>
                </div>
              </li>
            </ul>
          </b-col>
          <b-col sm="5">
            <img class="img-responsive" src="/images/aboutus/image-round.png" />
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>
export default {
  layout: 'pageTitle',
  mounted () {
    this.$store.commit('SET_PAGE_TITLE', 'pageTitle2')
  }
}
</script>

<style scoped>
.opportunity-section .left-icon {
  float: left;
  width: 98px;
  padding-right: 10px;
}
.opportunity-section .left-icon img {
  width: auto;
  max-width: 100%;
}
.opportunity-section .right-content {
  float: left;
  width: calc(100% - 98px);
}
</style>