<template>
  <div class="content">
    <section class="white-bg">
      <b-container>
        <div class="contact-box">
          <div class="address-box">
            <h3>jfnetwork GmbH</h3>
            <h4>
              {{ $t('contactPhone') }}
            </h4>
            <p>+49 9321 92 94 0</p>
            <h4>
              {{ $t('contactAddress') }}
            </h4>
            <p>Steigweg 24 // Geb 61 - 97318 Kitzingen - Germany</p>
            <h4>
              {{ $t('contactEmail') }}
            </h4>
            <p>
              <a href="mailto:service@jfnet.de">
                service@jfnet.de
              </a>
            </p>
            <hr/>
            <h4>
              {{ $t('contactVATNo') }}
            </h4>
            <p>DE269007605</p>
            <h4>
              {{ $t('contactCompanyRegistration') }}
            </h4>
            <p>HRB 10526</p>
            <h4>
              {{ $t('contactCEO') }}
            </h4>
            <p>Jochen Freier</p>
            <hr/>
            <h3>jfnetwork ASIA</h3>
            <h4>
              {{ $t('contactAddress') }}
            </h4>
            <p>50 Sukhumvit 21 Asoke, Bangkok 10110 - Thailand</p>
          </div>
          <div class="gmap-container">
            <gmap-map
              :center="{ lat: lat, lng: lng }"
              :zoom="16"
              map-type-id="terrain"
              class="g-location"
              :options="{
                zoomControl: true,
                mapTypeControl: false,
                scaleControl: false,
                streetViewControl: false,
                rotateControl: false,
                fullscreenControl: true,
                disableDefaultUi: false
              }"
            >
              <gmap-marker :position="{lat, lng}" :clickable="true" :draggable="false" />
            </gmap-map>
          </div>
        </div>
        <div class="rights">
          <p>
            <small>{{ $t('contactContent1') }}</small>
          </p>
          <p>
            <small>{{ $t('contactContent2') }}</small>
          </p>
        </div>
      </b-container>
    </section>
    <section class="grey-bg head-section">
      <b-container>
        <b-row>
          <b-col offset-sm="5">
            <h3>{{ $t('contactTeamHead') }}</h3>
          </b-col>
        </b-row>
      </b-container>
    </section>
    <section class="white-bg">
      <b-container>
        <b-row>
          <b-col sm="5">
            <img class="img-responsive img-top" src="/images/contact/team.jpg" />
          </b-col>
          <b-col sm="7">
            <p>{{ $t('contactTeamContent1') }}</p>
            <h4>{{ $t('contactTeamLeadership') }}</h4>
            <p>
              <span class="ceo-quote">{{ $t('contactTeamQuote') }}</span>
            </p>
            <p>{{ $t('contactTeamContent2') }}</p>
          </b-col>
        </b-row>
        <br/>
        <h4>{{ $t('contactTeamGoal') }}</h4>
        <p>{{ $t('contactTeamGoalContent1') }}</p>
        <p>{{ $t('contactTeamGoalContent2') }}</p>
        <p>
          <b>{{ $t('contactTeamGoalContent3') }}</b>
        </p>
      </b-container>
    </section>
  </div>
</template>

<script>
export default {
  layout: 'pageTitle',
  data () {
    return {
      lat: 49.731551,
      lng: 10.138356
    }
  },
  mounted () {
    this.$store.commit('SET_PAGE_TITLE', 'pageTitle6')
  }
}
</script>

<style scoped>
.contact-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.address-box {
  background: url('/images/contact/ca-background.jpg') no-repeat;
  margin-bottom: 20px;
  padding: 25px 10px 12px;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.address-box, .gmap-container {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin: 0;
}
.address-box h4 {
  color: #f08803;
}
.address-box a, .address-box a:hover {
  color: #fff;
}
.address-box hr {
  background-color: #252525;
}
.gmap-container {
  border: 1px solid #cacaca;
}
.g-location {
  height: 100%;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}
.rights {
  margin: 20px 0;
}
.rights p {
  font-size: .999rem;
}
.ceo-quote {
  color: #f08803;
}
@media screen and (min-width: 768px) {
  .address-box, .gmap-container {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: calc(50% - 15px);
  }
  .address-box {
    margin-right: 15px;
    padding: 37px 15px 24px;
  }
  .gmap-container {
    margin-left: 15px;
    padding: 10px;
  }
}
</style>