<template>
  <div class="swiper-carousel-section">
    <client-only>
      <div
        v-swiper="swiperOptions"
      >
        <div
          class="swiper-wrapper"
        >
          <div
            v-for="(item, index) in bannerList"
            :key="index"
            class="swiper-slide"
            :class="`item-${index}`"
          >
            <div
              class="slide-content"
              :style="`background-image: url('${item.image_url}')`"
            >
              <div class="title">
                <b-container>
                  <p class="title-1">
                    <span>{{ $t(`${item.title1}`) }}</span>
                  </p>
                  <p class="title-2">
                    {{ $t(`${item.title2}`) }}
                  </p>
                  <p class="title-3">
                    {{ $t(`${item.title3}`) }}
                  </p>
                </b-container>
              </div>
              <div
                v-if="index == bannerList.length -1"
              >
                <Footer/>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination-bullets" slot="pagination" />
      </div>
    </client-only>
  </div>
</template>

<script>
export default {
  layout: 'onePage',
  data () {
    return {
      swiperOptions: {
        direction: 'vertical',
        slidesPerView: 1,
        allowTouchMove: false,
        loop: false,
        autoplay: false,
        mousewheel: true,
        slidesPerView: 1,
        navigation: false,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        }
      },
      bannerList: [
        {
          image_url: '/images/home/homeslide-1.jpg',
          title1: 'indexSlide1txt1',
          title2: 'indexSlide1txt2',
          title3: 'indexSlide1txt3',
        },
        {
          image_url: '/images/home/homeslide-2.jpg',
          title1: 'indexSlide2txt1',
          title2: 'indexSlide2txt2',
          title3: 'indexSlide2txt3',
        },
        {
          image_url: '/images/home/homeslide-3.jpg',
          title1: 'indexSlide3txt1',
          title2: 'indexSlide3txt2',
          title3: 'indexSlide3txt3',
        },
        {
          image_url: '/images/home/homeslide-4.jpg',
          title1: 'indexSlide4txt1',
          title2: 'indexSlide4txt2',
          title3: 'indexSlide4txt3',
        }
      ]
    }
  }
}
</script>

<style scoped>
.swiper-carousel-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.swiper-container {
  height: 100%;
}
.swiper-slide {
  width: 100%;
  height: 100vh !important;
}
.slide-content {
  height: 100%;
  background-repeat: no-repeat;
  background-color: transparent !important;
  background-position: center;
  background-size: cover;
  position: relative;
}
.slide-content .title {
  width: 100%;
  position: absolute;
  bottom: 20%;
}
.slide-content .title .title-1,
.slide-content .title .title-2,
.slide-content .title .title-3 {
  color: #fff;
  font-family: 'Conv_rakesly lt';
}
.slide-content .title .title-1 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 5.5px;
}
.slide-content .title .title-1 span {
  border-top: solid 2px #fff;
  border-bottom: solid 2px #fff;
  padding: 11px 0 8px;
}
.slide-content .title .title-2,
.slide-content .title .title-3 {
  font-size: 48px;
}
.slide-content footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
</style>
