<template>
  <div class="content">
    <section class="white-bg">
      <b-container>
        <div
          v-if="lang_code == 'de'"
        >
          <p>jfnetwork ist mit seinen verschiedenen Geschäftsbereichen seit fast 20 Jahren ein innovatives, mittelständisches Unternehmen.</p>
          <p>Wir beliefern verschiedene Industrien rund um den Automotive-Sektor mit Spezialsoftware. Als Entwickler von Individualsoftware gleicht kein Projekt dem Anderen.</p>
          <p>In diesem spannenden, innovativen und anspruchsvollen Feld suchen wir Verstärkung für unser Team.</p>
        </div>
        <div
          v-else
        >
          <p>jfnetworks, with its various business areas, is an innovative mid-size company for almost 20 years</p>
        </div>
        <br/>
        <h3>{{ $t('jobsSuccessHead') }}</h3>
        <b-row class="success-table" no-gutters>
          <b-col>
            <table class="success-icon">
              <tbody>
                <tr>
                  <td>
                    <img src="/images/jobs/team.png" />
                    <p>{{ $t('jobsSuccessPoint1') }}</p>
                  </td>
                  <td>
                    <img src="/images/jobs/lead.png" />
                    <p>{{ $t('jobsSuccessPoint2') }}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="/images/jobs/motive.png" />
                    <p>{{ $t('jobsSuccessPoint3') }}</p>
                  </td>
                  <td>
                    <img src="/images/jobs/innovation.png" />
                    <p>{{ $t('jobsSuccessPoint4') }}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </b-col>
          <b-col class="bordered text-center">
            <p class="success-quote">
              <span>{{ $t('jobsSuccessContent') }}</span>
            </p>
          </b-col>
        </b-row>
        <br/>
        <div
          v-if="lang_code == 'en'"
        >
          <h3>Our offer to our team:</h3>
          <ul class="key">
            <li>
              <p>Exciting tasks and individual challenges</p>
            </li>
            <li>
              <p>Ballanced proportion of work and life - "Work Life Balance"</p>
            </li>
            <li>
              <p>Up to date equipped offices</p>
            </li>
          </ul>
          <p>We are a privatly owned and managed company with short decision-making processes, which offers our employees a wide-ranged opportunity, to take part in influencing our decisions.</p>
          <hr/>
          <p>
            You can find our current job offers <a :href="switchLocalePath('de')">here</a>.
          </p>
        </div>
        <div
          v-else
        >
          <h3>Wir bieten unseren Mitarbeitern:</h3>
          <ul class="key">
            <li>
              <p>Sie werden Teil eines jungen, dynamischen und hochmotivierten Teams</p>
            </li>
            <li>
              <p>Spannende Aufgaben und individuelle Herausforderungen</p>
            </li>
            <li>
              <p>Individuelle Weiterbildungs- und Förderungsmaßnahmen</p>
            </li>
            <li>
              <p>Möglichkeit unser Produkt und Leistungsportfolio mitzugestalten</p>
            </li>
            <li>
              <p>Gesundes Verhältnis zwischen Arbeit und Leben "Work Life Balance"</p>
            </li>
            <li>
              <p>Gleitzeitregelung auf Basis Vertrauensarbeitszeitregelung</p>
            </li>
            <li>
              <p>Möglichkeit eines Firmenwagens</p>
            </li>
            <li>
              <p>Homeoffice-Option</p>
            </li>
            <li>
              <p>2x pro Jahr kostenloser Räderwechsel für Mitarbeiter/Innen</p>
            </li>
          </ul>
          <p>Wir sind ein inhabergeführtes Unternehmen mit kurzen Entscheidungswegen, was unseren Mitarbeitern weitreichende Mitgestaltungsmöglichkeiten eröffnet.</p>
          <p>Wir schulen Sie in allen nötigen Fachgebieten. In einer angemessenen Einarbeitungsphase bereiten wir Sie optimal auf Ihren Aufgabenbereich bei uns vor.</p>
          <p>Werden auch Sie Teil eines innovativen und zukunftsweisenden Unternehmens.</p>
          <br/>
          <h3>Unsere offenen Stellen:</h3>
          <ul>
            <li>
              <p>
                <a v-b-toggle.job-collapse>PHP Anwendungsentwickler (m/w/d)</a>
              </p>
            </li>
          </ul>
          <b-collapse id="job-collapse">
            <div class="content">
              <h3>PHP Anwendungsentwickler (m/w/d)</h3>
              <p>Arbeiten Sie in einem dynamischen Team mit schnellen Entscheidungen und vielen individuellen Gestaltungsmöglichkeiten. Setzen Sie eigenverantwortlich Kundenwünsche um, erforschen Sie neue Technologien auf Tauglichkeit für unsere Kunden und gestalten Sie die Abteilung mit.</p>
              <h4>Was Sie mitbringen sollten</h4>
              <ul class="key">
                <li>
                  <p>
                    Eine abgeschlossene Berufsausbildung als Fachinformatiker oder ähnlicher Werdegang
                  </p>
                </li>
              </ul>
              <h4>Ihre Aufgaben & Technologien</h4>
              <ul class="key">
                <li>
                  <p>
                    Umsetzung von abwechslungsreichen Kundenwünschen in Web-Technologien im Umfeld von WebShops B2B und B2C, Datenmanagement, Lager, Logistik, ERP und Fleet Management
                  </p>
                </li>
                <li>
                  <p>
                    PHP, Symfony 4+, Golang
                  </p>
                </li>
                <li>
                  <p>
                    HTML5, JavaScript, SCSS
                  </p>
                </li>
                <li>
                  <p>
                    MariaDB
                  </p>
                </li>
                <li>
                  <p>
                    Memcache
                  </p>
                </li>
              </ul>
              <p>Wir schulen Sie in allen nötigen Technologien. In einer angemessenen Einlernphase bereiten wir Sie optimal auf Ihre Aufgaben bei uns vor.</p>
              <h4>Ihre Tools</h4>
              <ul class="key">
                <li>
                  <p>
                    JetBrains IDE Portfolio (PhpStorm, Goland, …)
                  </p>
                </li>
                <li>
                  <p>
                    Navicat
                  </p>
                </li>
                <li>
                  <p>
                    GitLab
                  </p>
                </li>
                <li>
                  <p>
                    Git
                  </p>
                </li>
                <li>
                  <p>
                    Individuelle Beschaffung bei Bedarf
                  </p>
                </li>
              </ul>
              <h4>Zusätzliche Benefits</h4>
              <ul class="key">
                <li>
                  <p>
                    Möglichkeit, nach Absprache, Code als OpenSource unter eigenem Namen zu veröffentlichen
                  </p>
                </li>
                <li>
                  <p>
                    Freie Gestaltung des Arbeitsplatzes. Wählen Sie zwischen Linux, Windows oder MacOS, Laptop oder Workstation.
                  </p>
                </li>
              </ul>
              <p>Verbringen Sie ein paar unverbindliche Stunden oder Tage bei uns und lernen Sie das Team und unsere Arbeitsweise kennen. Schicken Sie ihre aussagekräftigen Bewerbungsunterlangen an Herrn Jochen Freier (<a href="mailto:jf@tyremotive.de">jf@tyremotive.de</a>).</p>
            </div>
          </b-collapse>
          <hr/>
          <p class="text-center">Keine passende Stelle dabei? Schauen Sie gerne auch im Stellenportal unserer Unternehmensgruppe vorbei.</p>
          <p class="text-center">
            <a class="main-button" href="#">ZUM STELLENPORTAL</a>
          </p>
        </div>
      </b-container>
    </section>
  </div>
</template>

<script>
export default {
  layout: 'pageTitle',
  data() {
    return {
      lang_code: null,
    };
  },
  mounted () {
    this.$store.commit('SET_PAGE_TITLE', 'pageTitle5')
    this.lang_code = this.$i18n.locale;
  }
}
</script>

<style scoped>
.success-table {
  text-align: center;
}
.success-table .bordered {
  border: 1px solid #d4d4d4;
}
.success-icon {
  width: 100%;
  height: 100%;
}
.success-icon td {
  padding: 20px;
  border: 1px solid #d4d4d4;
  width: 50%;
}
.success-quote {
  width: 100%;
  margin: 0;
  height: 100%;
  display: table;
  padding: 20px;
}
.success-quote span {
  display: table-cell;
  vertical-align: middle;
  font-size: 26px;
}
</style>