<template>
  <div class="content">
    <section class="white-bg">
      <b-container>
        <b-row>
          <b-col sm="6">
            <p>{{ $t('newsContent') }}</p>
            <h3>{{ $t('newsFactHead') }}</h3>
            <ul>
              <li>
                <p>{{ $t('newsFactPoint1') }}</p>
              </li>
              <li>
                <p>{{ $t('newsFactPoint2') }}</p>
              </li>
            </ul>
          </b-col>
          <b-col sm="6">
            <div class="dashed-box">
              <img class="img-responsive" src="/images/news/oz.jpg" />
            </div>
          </b-col>
        </b-row>
        <h3>{{ $t('newsShopHead') }}</h3>
        <b-row>
          <b-col sm="6">
            <div class="dashed-box">
              <img class="img-responsive" src="/images/news/atu.jpg" />
            </div>
          </b-col>
          <b-col sm="6">
            <p>{{ $t('newsShopContent') }}</p>
            <p>
              <a href="https://www.atu.de/komplettrad">https://www.atu.de/komplettrad</a>
            </p>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>
export default {
  layout: 'pageTitle',
  mounted () {
    this.$store.commit('SET_PAGE_TITLE', 'pageTitle3')
  }
}
</script>