<template>
  <div class="content">
    <section class="white-bg">
      <b-container>
        <h2>{{ $t("referenceHead") }}</h2>
        <p>{{ $t("referenceContent") }}</p>
        <p>{{ $t("referenceContent2") }}</p>
      </b-container>
    </section>
    <section class="white-bg">
      <b-container>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo">
                  <img src="/images/references/delticom.png" />
                </div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint1-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint1-2") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint1-3") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint1-4") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo"><img src="/images/references/esa.png" /></div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint2-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint2-2") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint2-3") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint2-4") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint2-5") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo">
                  <img src="/images/references/tyremotive.png" />
                </div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint3-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint3-2") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint3-3") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint3-4") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint3-5") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint3-6") }}</p>
                </li>
                <li v-if="lang_code == 'de'">
                  <p>{{ $t("referencePoint3-7") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo">
                  <img src="/images/references/eurotyre.png" />
                </div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint4-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint4-2") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint4-3") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint4-4") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint4-5") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo">
                  <img src="/images/references/fechter.png" />
                </div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint5-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint5-2") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint5-3") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo">
                  <img src="/images/references/interpneu.png" />
                </div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint6-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint6-2") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint6-3") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint6-4") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo">
                  <img src="/images/references/itwheels.png" />
                </div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint7-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint7-2") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo">
                  <img src="/images/references/mefo.png" />
                </div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint8-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint8-2") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint8-3") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo"><img src="/images/references/oz.png" /></div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint9-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint9-2") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint9-3") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint9-4") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint9-5") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo">
                  <img src="/images/references/peugeot.png" />
                </div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint10-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint10-2") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint10-3") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint10-4") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo">
                  <img src="/images/references/pitstop.png" />
                </div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint11-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint11-2") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo">
                  <img src="/images/references/pneuhage.png" />
                </div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint12-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint12-2") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint12-3") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint12-4") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint12-5") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo">
                  <img src="/images/references/pvautomotive.png" />
                </div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint13-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint13-2") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo">
                  <img src="/images/references/reifen_mueller.png" />
                </div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint14-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint14-2") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint14-3") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo">
                  <img src="/images/references/reifencom.png" />
                </div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint15-1") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo">
                  <img src="/images/references/reiff.png" />
                </div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint16-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint16-2") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint16-3") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint16-4") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint16-5") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo"><img src="/images/references/straub.png" /></div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint17-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint17-2") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo"><img src="/images/references/rl.png" /></div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint18-1") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo"><img src="/images/references/rh-reifen.png" /></div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint19-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint19-2") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint19-3") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo"><img src="/images/references/rod.png" /></div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint20-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint20-2") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo"><img src="/images/references/stahlgruber.png" /></div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint21-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint21-2") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint21-3") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint21-4") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint21-5") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo"><img src="/images/references/supind.png" /></div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint22-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint22-2") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint22-3") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint22-4") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint22-5") }}</p>
                </li>
                <li
                  v-if="lang_code == 'de'"
                >
                  <p>{{ $t("referencePoint22-6") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo"><img src="/images/references/wm.png" /></div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint23-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint23-2") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo"><img src="/images/references/wheelworld_axxion.png" /></div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint24-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint24-2") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint24-3") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content">
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo"><img src="/images/references/zbr.png" /></div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint25-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint25-2") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint25-3") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint25-4") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content"
          v-if="lang_code == 'en'"
        >
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo"><img src="/images/references/reifen_specht.png" /></div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint26-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint26-2") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint26-3") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint26-4") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content"
          v-if="lang_code == 'en'"
        >
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo"><img src="/images/references/reifen_burkhardt.png" /></div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint27-1") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint27-2") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint27-3") }}</p>
                </li>
                <li>
                  <p>{{ $t("referencePoint27-4") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
        <div class="ref-content"
          v-if="lang_code == 'en'"
        >
          <b-row>
            <b-col sm="4"
              ><div class="logo-img">
                <div class="logo"><img src="/images/references/fairtyre.png" /></div>
              </div>
            </b-col>
            <b-col sm="8">
              <ul class="key">
                <li>
                  <p>{{ $t("referencePoint28-1") }}</p>
                </li>
              </ul>
            </b-col>
          </b-row>
        </div>
      </b-container>
    </section>
  </div>
</template>

<script>
export default {
  layout: "pageTitle",
  data() {
    return {
      lang_code: null,
    };
  },
  mounted() {
    this.$store.commit("SET_PAGE_TITLE", "pageTitle8");
    this.lang_code = this.$i18n.locale;
  },
};
</script>

<style scoped>
.ref-content {
  padding: 16px 0;
}
.logo-img {
  overflow: hidden;
  width: 100%;
  height: 180px;
  background-color: #fff;
  display: table;
  border: 5px solid #ccc;
  box-shadow: 1px 1px 2px #ccc;
  position: relative;
  padding: 0 25px;
  margin-bottom: 16px;
}
.logo-img .logo {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}
.logo-img img {
  display: block;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .logo-img {
    height: 120px;
  }
  .logo-img img {
    max-width: 154px;
  }
}
@media screen and (min-width: 992px) {
  .logo-img {
    height: 180px;
  }
  .logo-img img {
    max-width: 230px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-img img {
    max-width: 295px;
  }
}
</style>