<template>
  <div class="content">
    <section class="grey-bg head-section">
      <b-container>
        <b-row>
          <b-col sm="7">
            <h3>{{ $t("whatSection1Head") }}</h3>
          </b-col>
        </b-row>
      </b-container>
    </section>
    <section class="white-bg">
      <b-container>
        <b-row>
          <b-col sm="7">
            <p>{{ $t("whatSection1Content") }}</p>
            <p>{{ $t("whatSection1Content2") }}</p>
            <h4>{{ $t("whatSectionPointHead") }}</h4>
            <ul class="key">
              <li>
                <p>{{ $t("whatSectionPoint1") }}</p>
              </li>
              <li>
                <p>{{ $t("whatSectionPoint2") }}</p>
              </li>
              <li>
                <p>{{ $t("whatSectionPoint3") }}</p>
              </li>
              <li>
                <p>{{ $t("whatSectionPoint4") }}</p>
              </li>
              <li>
                <p>{{ $t("whatSectionPoint5") }}</p>
              </li>
              <li>
                <p>{{ $t("whatSectionPoint6") }}</p>
              </li>
            </ul>
          </b-col>
          <b-col sm="5">
            <img class="img-responsive img-top" src="/images/whatwedo/wwd1.jpg" />
          </b-col>
        </b-row>
      </b-container>
    </section>
    <section class="grey-bg head-section">
      <b-container>
        <b-row>
          <b-col offset-sm="5">
            <h3>{{ $t("whatSection2Head") }}</h3>
          </b-col>
        </b-row>
      </b-container>
    </section>
    <section class="white-bg">
      <b-container>
        <b-row>
          <b-col sm="5">
            <img class="img-responsive img-top" src="/images/whatwedo/wwd2.jpg" />
          </b-col>
          <b-col>
            <p>{{ $t("whatSection2Content") }}</p>
            <ul class="key">
              <li>
                <p>{{ $t("whatSection2Point1") }}</p>
              </li>
              <li>
                <p>{{ $t("whatSection2Point2") }}</p>
              </li>
              <li>
                <p>{{ $t("whatSection2Point3") }}</p>
              </li>
            </ul>
          </b-col>
        </b-row>
      </b-container>
    </section>
    <section class="grey-bg head-section">
      <b-container>
        <b-row>
          <b-col sm="7">
            <h3>{{ $t("whatSection3Head") }}</h3>
          </b-col>
        </b-row>
      </b-container>
    </section>
    <section class="white-bg">
      <b-container>
        <b-row>
          <b-col sm="7">
            <ul>
              <li>
                <p>{{ $t("whatSection3Point1") }}</p>
              </li>
              <li>
                <p>{{ $t("whatSection3Point2") }}</p>
              </li>
              <li>
                <p>{{ $t("whatSection3Point3") }}</p>
              </li>
              <li>
                <p>{{ $t("whatSection3Point4") }}</p>
              </li>
              <li>
                <p>{{ $t("whatSection3Point5") }}</p>
              </li>
            </ul>
            <p>
              <b>{{ $t("whatSection3Quote") }}</b>
            </p>
          </b-col>
          <b-col sm="5">
            <img class="img-responsive img-top" src="/images/whatwedo/wwd3.jpg" />
          </b-col>
        </b-row>
      </b-container>
    </section>
    <section class="grey-bg head-section">
      <b-container>
        <b-row>
          <b-col offset-sm="5">
            <h3>{{ $t("whatSection4Head") }}</h3>
          </b-col>
        </b-row>
      </b-container>
    </section>
    <section class="white-bg">
      <b-container>
        <b-row>
          <b-col sm="5">
            <img class="img-responsive img-top" src="/images/whatwedo/wwd4.jpg" />
          </b-col>
          <b-col sm="7">
            <p>{{ $t("whatSection4Content1") }}</p>
            <p>{{ $t("whatSection4Content2") }}</p>
            <p>{{ $t("whatSection4Content3") }}</p>
          </b-col>
        </b-row>
      </b-container>
    </section>
    <section class="grey-bg head-section">
      <b-container>
        <b-row>
          <b-col sm="7">
            <h3>{{ $t("whatSection5Head") }}</h3>
          </b-col>
        </b-row>
      </b-container>
    </section>
    <section class="white-bg">
      <b-container>
        <b-row>
          <b-col sm="7">
            <p>{{ $t("whatSection5Content1") }}</p>
            <p>{{ $t("whatSection5Content2") }}</p>
            <p>{{ $t("whatSection5Content3") }}</p>
            <p>{{ $t("whatSection5Content4") }}</p>
            <p>
              <a href="http://cdn.tyrecreative.de/demo">
                http://cdn.tyrecreative.de/demo
              </a>
            </p>
          </b-col>
          <b-col sm="5">
            <img class="img-responsive img-top" src="/images/whatwedo/wwd5.jpg" />
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>
export default {
  layout: "pageTitle",
  mounted() {
    this.$store.commit("SET_PAGE_TITLE", "pageTitle4");
  },
};
</script>